/* https://css-pattern.com/chevrons */

@utility main-section-bg {
    --s: 6px;
    --c1: #D5FFE3;
    --c2: #B7E2B6;
    --l: var(--c1) 20%, #0000 0;
    --g: 35%, var(--c2) 0 45%, var(--c1) 0;

    background:
        linear-gradient(45deg, var(--l) 45%, var(--c1) 0 70%, #0000 0),
        linear-gradient(-45deg, var(--l) var(--g) 70%, #0000 0),
        linear-gradient(45deg, var(--c1) var(--g));
    background-size: var(--s) var(--s);

    @variant dark {
        --c1: #031411;
        --c2: #163840;
    }
}
